*{
    box-sizing: border-box;
    background-color: antiquewhite;
}

img {
    
    width: 200px;
}

.container{
   
    height: 800px;
    width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
.inputs{
    display: flex;
    gap: 50px;

    
}